* {
    Margin: 0;
    Padding: 0;
    Border: 0;
}
body {
}

image{
    margin-right: 40px;
    border: 0px;
    padding: 0px;
}


body{
    font-family: Geneva;
    color: rgba(0, 0, 0, 0.48);
    font-size: 12pt;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1,h2{
    text-decoration: underline;
}

.hero-header{
    text-align: center;
    color: darkblue;
    font-size: 24pt;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 10px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2{
    color: rgb(66, 1, 1);
    display: block;
    font-size: 18pt;
    margin-block-start: 10px;
    margin-block-end:10px;
    margin-inline-start: 20px;
    margin-inline-end: 0px;
    font-weight: bold;

}

ul{

    margin-block-start: 10px;
    margin-block-end:10px;
    margin-inline-start: 40px;
    margin-inline-end: 0px;
    list-style-type: square;
}

ol{

    margin-block-start: 10px;
    margin-block-end:10px;
    margin-inline-start: 40px;
    margin-inline-end: 0px;

}
img {
    border-radius: 10%;
}

table {
    font-family: Impact ;
}

td {
    font-style: italic;
}

tr{
    font-size: larger;
}

a:link {
    color: red;
}
a:visited {
    color: green;
}
a:hover {
    color: hotpink;
}
a:active {
    color: blue;
}